#north-region {
	background-color: #FFF;
	background-image: none;
	
}
#header-content {
	color: #777878;
	background: url(html/resources/images/bridgeit-logo.png) 0 0 no-repeat;
	padding-left: 138px;
	line-height: 33px;
	margin-top: 6px;
	width: 250px;
	background-size: 53%;
	background-position: 0 0px;
}
#classindex > div:nth-child(3){
	display: none;
}
#exampleindex, #videoindex, #guideindex, #classindex {
	padding: 0px 10px 10px 10px;
}
#center-container h1, #center-container h1 .class-source-link{
	color: #DD5734;
}
.x-container.x-border-item.x-box-item.x-container-default.x-border-layout-ct > .x-panel.x-border-item.x-box-item.x-panel-default{
	border-top: 1px solid #CCC;
}
#classtree-body table tr{
	display: none;
}
#classtree-body table tr:nth-child(4){
	display: table-row;
}
